<script>
    document.write(wet.builder.appTop({
      "appName": [{
        "text": "{{ site.title }}",
        "href": "{{ '/' | absolute_url }}"
      }],
      "search": false,
      "siteMenu": false,
      "topSecMenu": false,
      "menuLinks": [{
          "text": "Accueil",
          "href": "{{ '/' | absolute_url }}"
        },{
          "text": "Champions de la Sécurité",
          "href": "{{ '/' | absolute_url }}champions-security/"
		},{
          "text": "Formation",
          "href": "{{ '/' | absolute_url }}formation-security-app/"
		},{
          "text": "Outils et Guides",
          "href": "{{ '/' | absolute_url }}outils-security-app/"
		},{
          "text": "Événements",
          "href": "{{ '/' | absolute_url }}evenements/"
		},{
          "text": "Références",
          "href": "{{ '/' | absolute_url }}references/"
        },{
          "text": "Questions / Collaborer",
          "href": "https://github.com/lafeeflushette/esdc-skp/issues/new/choose"
        },{
          "text": "English",
          "href": "https://lafeeflushette.github.io/esdc-skp/"
        }]
    }));
  </script>
