<script>
    document.write(wet.builder.appTop({
      "appName": [{
        "text": "{{ site.title }}",
        "href": "{{ '/' | absolute_url }}"
      }],
      "search": false,
      "siteMenu": false,
      "topSecMenu": false,
      "menuLinks": [{
          "text": "Accueil",
          "href": "{{ '/' | absolute_url }}"
        },{
          "text": "Champions de la Sécurité",
          "href": "{{ '/' | absolute_url }}champions-securite/"
		},{
          "text": "Formation",
          "href": "{{ '/' | absolute_url }}formation-securite-app/"
		},{
          "text": "Outils et Guides",
          "href": "{{ '/' | absolute_url }}outils-securite-app/"
		},{
          "text": "Événements",
          "href": "{{ '/' | absolute_url }}evenements/"
		},{
          "text": "Références",
          "href": "{{ '/' | absolute_url }}references/"
        },{
          "text": "Questions / Collaborer",
          "href": "https://github.com/esdcskp-edscpcs/pcs/issues/new/choose"
        },{
          "text": "English",
          "href": "https://esdcskp-edscpcs.github.io/skp/"
        }]
    }));
  </script>
